bin
*.o
*.d
snap.*
dromajo
libdromajo_cosim.a
*.swp
tags
build
._.DS_Store
.DS_Store

tests/riscv-tests/configure
tests/riscv-tests/configure.ac

tests/isa_test_suite/benchmark_asid
tests/isa_test_suite/total_num_instructions

tests/reset_vector/traces
tests/reset_vector/benchmark_asid
tests/reset_vector/total_num_instructions

tests/stf_load_store/benchmark_asid
tests/stf_load_store/total_num_instructions

tests/isa/stfs
tests/isa_test_suite/test_files

tests/stf_gen/traces
tests/stf_load_store/temp_traces
tests/stf_load_store/traces

tests/directed/logs
tests/isa_test_suite/riscv-test-files

